<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <section class="content-header">
        <h1>
          Thêm Điểm danh
        </h1>
        <ol class="breadcrumb">
          <li>
            <a> <i class="fa fa-home"></i>Home</a>
          </li>
          <li class="active">Thêm Điểm danh</li>
        </ol>
      </section>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-3">
                  <label class="control-label">Phòng ban</label>
                  <select
                    v-model="form.code_number_unit"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in unitOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>

                <div class="col col-sm-2">
                  <label class="control-label">Đội, đồn, tổ</label>
                  <select
                    v-model="form.code_number_team"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in teamOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>

                <div class="col col-sm-2">
                  <label class="control-label">Ngày vắng</label>
                  <input
                    class="form-control"
                    v-model="form.date_absent"
                    type="date"
                  />
                </div>
                <div class="col col-sm-1" style="margin-top: 24px">
                  <button
                    class="btn btn-primary"
                    @click="getFilter"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Lọc"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
              <!-- /input-group -->
            </div>

            <div class="box-body">
              <div class="row">
                <div class="col-sm-12 table-responsive">
                  <table
                    aria-describedby="example1_info"
                    role="grid"
                    class="table table-bordered table-striped dataTable"
                  >
                    <thead>
                      <tr role="row">
                        <th v-for="thead in theads" :key="thead.key">
                          <div v-if="thead.sort" @click="getSort(thead.key)">
                            <span>{{ thead.title }}</span>
                            <template v-if="params.sort_column === thead.key">
                              <span v-if="params.direction === 'asc'"
                                >&#x25B2;</span
                              >
                              <span v-else>&#x25BC;</span>
                            </template>
                          </div>
                          <div v-else>
                            <span>{{ thead.title }}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="even"
                        role="row"
                        v-for="(item, index) in list_subject_students.data"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.teams.name }}</td>
                        <td width="130px">
                          <div class="col col-sm-12">
                            <input
                              class="form-control"
                              type="text"
                              disabled
                              :value="item.code_number_staff"
                            />
                          </div>
                        </td>
                        <td>
                          {{ item.last_name }}
                          {{ item.first_name }}
                        </td>
                        <td>
                          <div class="col col-sm-12">
                            <select
                              class="form-control select2"
                              v-model="form.absent[index]"
                            >
                              <option selected value="0">Có mặt</option>
                              <option value="1">Vắng có phép</option>
                              <option value="2">Vắng không phép</option>
                            </select>
                          </div>
                        </td>
                        <td width="300px">
                          <div class="col col-sm-12">
                            <input
                              class="form-control"
                              v-model="form.reason_for_absence[index]"
                              type="text"
                              placeholder="Lý do cho sự vắng mặt..."
                            />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-twitter" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-twitter"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-twitter" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import swal from "sweetalert";
import axios from "axios";

export default {
  name: "add",
  data() {
    return {
      form: {
        code_number_unit: "",
        code_number_team: "",
        code_number_staff: [],
        date_absent: "",
        absent: [],
        reason_for_absence: []
      },
      list_subject_students: [],
      isLoading: false,
      searchAll: "",
      params: {
        page: 1,
        per_page: 10,
        sort_column: "id",
        direction: "desc"
      },
      theads: [
        { title: "STT", key: "id", sort: true },
        { title: "Đội, đồn, tổ", key: "code_number_team", sort: true },
        { title: "Mã Cán bộ" },
        { title: "Cán bộ", key: "code_number_staff", sort: true },
        { title: "Điểm danh" },
        { title: "Lý do" }
      ]
    };
  },
  created() {
    this.loadUnitData();
  },
  mounted() {
    this.loadAddress();
  },
  computed: {
    ...mapGetters("attendance_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapState("unit_ac", {
      unitOptions: state => state.unitOptions,
      teamOptions: state => state.teamOptions
    })
  },
  methods: {
    ...mapActions("unit_ac", {
      loadUnitData: "loadUnitData",
      changeUnit: "changeUnit"
    }),
    ...mapActions("attendance_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    loadAddress() {
      this.form.code_number_unit = 0;
      this.form.code_number_team = 0;
      this.changeUnit(this.form.code_number_unit);

      this.setBasicInfo(this.form);
    },
    submit() {
      let staffs = this.list_subject_students.data;
      let absent = this.form.absent;
      let reason_for_absence = this.form.reason_for_absence;
      for (let i = 0; i < this.list_subject_students.data.length; i++) {
        this.form.code_number_staff.push({
          code_number_staff: staffs[i].code_number_staff,
          absent: absent[i],
          reason_for_absence: reason_for_absence[i]
        });
      }
      console.log("================ LIST STUDENT ==============");
      console.log(this.form.code_number_staff);
      this.doSubmit()
        .then(success => {
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/attendance");
        })
        .catch(err => {
          swal({
            title: "Đăng điểm không thành công",
            text: JSON.stringify(err.response.data.message),
            icon: "warning",
            button: false
          });
        });
    },
    getFilter() {
      let p = this.params;
      axios
        .post(
          "api/attendance/getListSearch?page=" +
            p.page +
            "&per_page=" +
            p.per_page +
            "&sort_column=" +
            p.sort_column +
            "&direction=" +
            p.direction,
          {
            keyOptionTeam: this.form.code_number_team
          }
        )
        .then(response => {
          this.params.page = 1;
          this.searchAll = "";
          this.list_subject_students = response.data.data;
        });
    }
  },
  watch: {
    "form.code_number_unit": function(newVal) {
      this.form.code_number_team = 0;
      this.changeUnit(newVal);
      this.setBasicInfo(this.form);
    },
    "form.code_number_team": function() {
      this.setBasicInfo(this.form);
    },
    "form.date_absent": function() {
      this.setBasicInfo(this.form);
    },
    "form.absent": function() {
      this.setBasicInfo(this.form);
    },
    "form.reason_for_absence": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
