<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <section class="content-header">
        <h1>
          Sửa Điểm danh
        </h1>
        <ol class="breadcrumb">
          <li>
            <a> <i class="fa fa-home"></i>Home</a>
          </li>
          <li class="active">Sửa Điểm danh</li>
        </ol>
      </section>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Đội, đồn, tổ</label>
                  <input
                    disabled
                    class="form-control"
                    v-model="form.code_number_team"
                    placeholder="Mã lớp học..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Cán bộ</label>
                  <input
                    disabled
                    class="form-control"
                    v-model="form.code_number_staff"
                    placeholder="Mã lớp học..."
                    type="text"
                  />
                  <!--                  <select-->
                  <!--                    disabled-->
                  <!--                    v-model="form.code_number_staff"-->
                  <!--                    class="form-control select2"-->
                  <!--                    style="width: 100%;"-->
                  <!--                  >-->
                  <!--                    <option-->
                  <!--                      v-for="item in staffOptions"-->
                  <!--                      :key="item.value"-->
                  <!--                      :value="item.value"-->
                  <!--                    >-->
                  <!--                      {{ item.text }}-->
                  <!--                    </option>-->
                  <!--                  </select>-->
                </div>
                <div class="col col-sm-6">
                  <label class="control-label">Điểm danh</label>
                  <select class="form-control select2" v-model="form.absent">
                    <option selected value="0">Có mặt</option>
                    <option value="1">Vắng có phép</option>
                    <option value="2">Vắng không phép</option>
                  </select>
                </div>
                <div class="col col-sm-6">
                  <label class="control-label">Thời gian</label>
                  <input
                    class="form-control"
                    v-model="form.date_absent"
                    placeholder="Tên phòng ban..."
                    type="date"
                  />
                </div>
                <div class="col col-sm-12">
                  <label class="control-label">Lý do</label>
                  <input
                    class="form-control"
                    v-model="form.reason_for_absence"
                    placeholder="Lý do..."
                    type="text"
                  />
                </div>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-twitter" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-twitter"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-twitter" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import swal from "sweetalert";
import AttendanceService from "../../services/attendance";
import { mapState, mapActions } from "vuex";

export default {
  name: "edit",
  data() {
    return {
      isSubmitting: false,
      form: {
        code_number_department: "",
        code_number_team: "",
        code_number_staff: "",
        date_absent: "",
        absent: "",
        reason_for_absence: ""
      }
    };
  },
  created() {
    this.getShow();
    this.loadUnitData();
    this.loadStaffData();
  },
  computed: {
    ...mapState("unit_ac", {
      unitOptions: state => state.unitOptions
    }),
    ...mapState("team_ac", {
      teamOptions: state => state.teamOptions
    }),
    ...mapState("staff_ac", {
      staffOptions: state => state.staffOptions
    })
  },
  methods: {
    ...mapActions("unit_ac", {
      loadUnitData: "loadUnitData"
    }),
    ...mapActions("staff_ac", {
      loadStaffData: "loadStaffData"
    }),
    getShow() {
      this.isLoading = true;
      AttendanceService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      AttendanceService.update(this.$route.params.id, this.form)
        .then(success => {
          this.isSubmitting = false;
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/attendance");
        })
        .catch(err => {
          this.isSubmitting = false;
          swal({
            title: "Cập nhật thất bại",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  }
};
</script>
