<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <section class="content-header">
        <h1>
          Sửa Đội, đồn, tổ
        </h1>
        <ol class="breadcrumb">
          <li>
            <a> <i class="fa fa-home"></i>Home</a>
          </li>
          <li class="active">Sửa Đội, đồn, tổ</li>
        </ol>
      </section>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Phòng ban</label>
                  <select
                    v-model="form.code_number_unit"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in unitOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Mã lớp học</label>
                  <input
                    class="form-control"
                    v-model="form.code_number_team"
                    placeholder="Mã lớp học..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Tên lớp học</label>
                  <input
                    class="form-control"
                    v-model="form.name"
                    placeholder="Tên lớp học..."
                    type="text"
                  />
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-twitter" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-twitter"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-twitter" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import swal from "sweetalert";
import TeamService from "../../services/team";

export default {
  name: "edit",
  data() {
    return {
      form: {
        code_number_unit: 0,
        code_number_team: "",
        name: ""
      }
    };
  },
  created() {
    this.getShow();
    this.loadUnitData();
  },
  computed: {
    ...mapState("unit_ac", {
      unitOptions: state => state.unitOptions
    })
  },
  methods: {
    ...mapActions("unit_ac", {
      loadUnitData: "loadUnitData"
    }),
    getShow() {
      this.isLoading = true;
      TeamService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      TeamService.update(this.$route.params.id, this.form)
        .then(success => {
          this.isSubmitting = false;
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/team");
        })
        .catch(err => {
          this.isSubmitting = false;
          swal({
            title: "Cập nhật thất bại",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  }
};
</script>
