<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <section class="content-header">
        <h1>
          Sửa Cán bộ
        </h1>
        <ol class="breadcrumb">
          <li>
            <a> <i class="fa fa-home"></i>Home</a>
          </li>
          <li class="active">Sửa Cán bộ</li>
        </ol>
      </section>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Mã cán bộ</label>
                  <input
                    class="form-control"
                    v-model="form.code_number_staff"
                    placeholder="Mã cán bộ..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Ảnh đại diện</label>
                  <input
                    type="file"
                    class="form-control"
                    @change="onFileChange"
                    placeholder="Choose a file..."
                  />
                </div>
                <div class="col col-sm-12">
                  <div id="preview">
                    <img v-if="url" :src="url" />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-3">
                  <label class="control-label">Họ</label>
                  <input
                    class="form-control"
                    v-model="form.last_name"
                    placeholder="Họ cán bộ..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-3">
                  <label class="control-label">Tên</label>
                  <input
                    class="form-control"
                    v-model="form.first_name"
                    placeholder="Tên cán bộ..."
                    type="text"
                  />
                </div>
                <div class="col col-sm-3">
                  <label class="control-label">Ngày sinh</label>
                  <input
                    class="form-control"
                    v-model="form.birthday"
                    type="date"
                  />
                </div>

                <div class="col col-sm-3">
                  <label class="control-label">Giới tính</label>
                  <select
                    v-model="form.sex"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in SexOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Trình độ</label>
                  <input
                    class="form-control"
                    v-model="form.level"
                    placeholder="Trình độ..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Chuyên ngành</label>
                  <input
                    class="form-control"
                    v-model="form.specialized"
                    placeholder="Chuyên ngành..."
                    type="text"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Nơi sinh</label>
                  <input
                    class="form-control"
                    v-model="form.place_of_birth"
                    placeholder="Nơi sinh..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Quê quán</label>
                  <input
                    class="form-control"
                    v-model="form.home_town"
                    placeholder="Quê quán..."
                    type="text"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Hộ khẩu thường trú</label>
                  <input
                    class="form-control"
                    v-model="form.permanent_residence"
                    placeholder="Hộ khẩu thường trú..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Nơi ở hiện tại</label>
                  <input
                    class="form-control"
                    v-model="form.current_home"
                    placeholder="Nơi ở hiện tại..."
                    type="text"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-4">
                  <label class="control-label">Dân tộc</label>
                  <input
                    class="form-control"
                    v-model="form.nation"
                    placeholder="Dân tộc..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-4">
                  <label class="control-label">Tôn giáo</label>
                  <input
                    class="form-control"
                    v-model="form.religion"
                    placeholder="Tôn giáo..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-4">
                  <label class="control-label">Quốc tịch</label>
                  <input
                    class="form-control"
                    v-model="form.nationality"
                    placeholder="Quốc tịch..."
                    type="text"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-3">
                  <label class="control-label">Chức vụ cán bộ</label>
                  <input
                    class="form-control"
                    v-model="form.position_staff"
                    placeholder="Chức vụ cán bộ..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-3">
                  <label class="control-label">Loại cán bộ</label>
                  <input
                    class="form-control"
                    v-model="form.type_staff"
                    placeholder="Loại cán bộ..."
                    type="text"
                  />
                </div>
                <div class="col col-sm-3">
                  <label class="control-label">Đảng</label>
                  <select
                    v-model="form.clan"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in ClanOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
                <div class="col col-sm-3">
                  <label class="control-label">Ngày vào Đảng</label>
                  <input
                    class="form-control"
                    v-model="form.date_clan"
                    placeholder="Ngày vào Đảng..."
                    type="date"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-3">
                  <label class="control-label">Địa chỉ email</label>
                  <input
                    class="form-control"
                    v-model="form.email"
                    placeholder="Địa chỉ email..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-3">
                  <label class="control-label">CMND/Thẻ căn cước</label>
                  <input
                    class="form-control"
                    v-model="form.identity_number"
                    placeholder="CMND/Thẻ căn cước..."
                    type="text"
                  />
                </div>
                <div class="col col-sm-3">
                  <label class="control-label">Số điện thoại cố định</label>
                  <input
                    class="form-control"
                    v-model="form.phone"
                    placeholder="Điện thoại cố định..."
                    type="text"
                  />
                </div>
                <div class="col col-sm-3">
                  <label class="control-label">Di động</label>
                  <input
                    class="form-control"
                    v-model="form.mobile"
                    placeholder="Di động..."
                    type="text"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Phòng ban</label>
                  <select
                    v-model="form.code_number_unit"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in unitOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Đội, đồn, tổ</label>
                  <select
                    v-model="form.code_number_team"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in teamOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-twitter" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-twitter"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-twitter" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import swal from "sweetalert";
import StaffService from "../../services/staff";
import { mapActions, mapState } from "vuex";

export default {
  name: "edit",
  data() {
    return {
      isSubmitting: false,
      url: null,
      image: "",
      form: {
        code_number_staff: "",
        last_name: "",
        first_name: "",
        sex: "",
        birthday: "",
        thumbnails: "",
        email: "",
        identity_number: "",
        phone: "",
        mobile: "",
        place_of_birth: "",
        home_town: "",
        permanent_residence: "",
        current_home: "",
        nation: "",
        religion: "",
        nationality: "",
        level: "",
        specialized: "",

        position_staff: "",
        type_staff: "",
        clan: "",
        date_clan: "",

        code_number_unit: "",
        code_number_team: ""
      },
      SexOptions: [
        { value: 0, text: "Nữ" },
        { value: 1, text: "Nam" }
      ],
      ClanOptions: [
        { value: 0, text: "Không" },
        { value: 1, text: "Có" }
      ]
    };
  },
  created() {
    this.getShow();
    this.loadUnitData();
  },
  mounted() {
    this.loadAddress();
  },
  computed: {
    ...mapState("unit_ac", {
      unitOptions: state => state.unitOptions,
      teamOptions: state => state.teamOptions
    })
  },
  methods: {
    ...mapActions("unit_ac", {
      loadUnitData: "loadUnitData",
      changeUnit: "changeUnit"
    }),
    loadAddress() {
      this.form.code_number_unit = 0;
      this.form.code_number_team = 0;
      this.changeUnit(this.form.code_number_unit);
    },
    onFileChange(e) {
      let files = e.target.files;
      this.image = e.target.files[0];
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file); // show img
      this.doUploadFile(files);
    },
    doUploadFile() {
      const config = {
        headers: { "content-type": "multipart/form-data" }
      };
      let formData = new FormData();
      formData.append("image", this.image);
      StaffService.upload(formData, config)
        .then(res => {
          console.log(res.data.data);
          this.form.thumbnails = res.data.data;
          this.addImage(res.data.data);
        })
        .catch(function() {
          console.log("thất bại");
        });
    },
    getShow() {
      this.isLoading = true;
      StaffService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      StaffService.update(this.$route.params.id, this.form)
        .then(success => {
          this.isSubmitting = false;
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/staff");
        })
        .catch(err => {
          this.isSubmitting = false;
          swal({
            title: "Cập nhật thất bại",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  }
};
</script>
