<template>
  <section class="content">
    <section class="content-header">
      <h1>
        Cán bộ
      </h1>
      <ol class="breadcrumb">
        <li>
          <a> <i class="fa fa-home"></i>Home</a>
        </li>
        <li class="active">Cán bộ</li>
      </ol>
    </section>
    <div class="row center-block">
      <div class="col-md-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <div
              class="dataTables_wrapper form-inline dt-bootstrap"
              id="example1_wrapper"
            >
              <div class="row">
                <div class="col-sm-6">
                  <button
                    v-if="isLoading"
                    class="btn btn-labeled btn-twitter mr-1 mb-1"
                    disabled
                  >
                    <span class="btn-label"
                      ><i class="fa fa-cog fa-spin"></i
                    ></span>
                    Đang tải...
                  </button>
                  <div v-else style="float: left; margin-right: 5px">
                    <button class="btn btn-twitter" @click="createData">
                      Thêm mới
                    </button>
                  </div>
                  <button
                    v-if="!isLoading"
                    class="btn btn-labeled btn-twitter mr-1 mb-1"
                    @click="getList"
                  >
                    <span class="btn-label"><i class="far fa-sync"></i></span>
                    Làm tươi
                  </button>
                </div>
                <div style="float: right; margin-right: 1.5%">
                  <input
                    type="text"
                    v-model="searchAll"
                    @keyup="debounceSocket()"
                    class="form-control"
                    id="inputCity"
                    placeholder="Bạn cần tìm..."
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 table-responsive">
                  <table
                    aria-describedby="example1_info"
                    role="grid"
                    class="table table-bordered table-striped dataTable"
                  >
                    <thead>
                      <tr role="row">
                        <th v-for="thead in theads" :key="thead.key">
                          <div v-if="thead.sort" @click="getSort(thead.key)">
                            <span>{{ thead.title }}</span>
                            <template v-if="params.sort_column === thead.key">
                              <span v-if="params.direction === 'asc'"
                                >&#x25B2;</span
                              >
                              <span v-else>&#x25BC;</span>
                            </template>
                          </div>
                          <div v-else>
                            <span>{{ thead.title }}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="even"
                        role="row"
                        v-for="(item, index) in list_staffs.data"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.last_name }}</td>
                        <td>{{ item.first_name }}</td>
                        <td v-if="item.thumbnails !== ''">
                          <a target="_blank" :href="'http://127.0.0.1:8000/images/staff/' + item.thumbnails">
                            <img
                              :src="
                                'http://127.0.0.1:8000/images/staff/' +
                                  item.thumbnails
                              "
                              width="80"
                              height="75"
                            />
                          </a>
                        </td>
                        <td v-if="item.sex == 0">Nữ</td>
                        <td v-if="item.sex == 1">Nam</td>
                        <td>{{ item.birthday }}</td>
                        <td v-if="item.clan == 1">Đã vào</td>
                        <td v-if="item.clan == 0">Chưa vào</td>
                        <td width="120px">
                          <router-link
                            :to="{ name: 'staff.edit', params: { id: item.id } }"
                            class="btn btn-twitter btn-sm mr-1"
                            data-toggle="tooltip"
                            data-placement="left"
                            title="Sửa"
                          >
                            <i class="fa fa-pencil-square-o"></i>
                          </router-link>
                          <delete-button :staff-delete="item" @ok="getList" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <span>Hiển thị</span>
              <span>
                <select v-model="params.per_page" @change="search">
                  <option value="10">10</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
                  <option value="100000">Toàn bộ</option>
                </select>
              </span>
              <span>/ {{ list_staffs.total }} mục</span>
              <div style="float: right">
                <paginate
                  :page-count="parseInt(list_staffs.last_page)"
                  :click-handler="clickCallback"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :container-class="'pagination'"
                >
                </paginate>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import StaffService from "../../services/staff";
import DeleteButton from "./delete";
import Paginate from "vuejs-paginate";
import * as _ from "lodash";

export default {
  name: "index",
  components: {
    DeleteButton,
    Paginate
  },
  data() {
    return {
      list_staffs: [],
      isLoading: false,
      searchAll: "",
      params: {
        page: 1,
        per_page: 10,
        sort_column: "id",
        direction: "desc"
      },
      theads: [
        { title: "STT", key: "id", sort: true },
        { title: "Họ", key: "last_name", sort: true },
        { title: "Tên", key: "first_name", sort: true },
        { title: "Hình ảnh", key: "thumbnails", sort: true },
        { title: "Giới tính", key: "sex", sort: true },
        { title: "Ngày sinh", key: "birthday", sort: true },
        { title: "Đảng", key: "clan", sort: true }
      ]
    };
  },
  created() {
    this.getList();
  },
  computed: {
    debounceSocket: function() {
      return _.debounce(this.search, 1000);
    }
  },
  methods: {
    createData() {
      this.$router.push("/staff/add");
    },
    getList() {
      let p = this.params;
      this.isLoading = true;
      StaffService.getPaginate(p.page, p.per_page, p.sort_column, p.direction)
        .then(response => {
          this.isLoading = false;
          this.list_staffs = response.data.data;
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    },
    getSort(column) {
      this.params.sort_column = column;
      if (this.params.direction === "asc") {
        this.params.direction = "desc";
      } else {
        this.params.direction = "asc";
      }
      if (!this.searchAll) {
        this.getList();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    clickCallback(pageNum) {
      this.params.page = pageNum;
      if (!this.searchAll) {
        this.getList();
      }
      if (this.searchAll) {
        this.search();
      }
    },
    search() {
      let p = this.params;
      StaffService.getSearch(p.page, p.per_page, p.sort_column, p.direction, {
        keyText: this.searchAll
      }).then(response => {
        if (this.searchAll) {
          this.params.page = 1;
          this.list_staffs = response.data.data;
        } else {
          this.getList();
        }
      });
    }
  }
};
</script>
