<template>
  <!-- Content Wrapper. Contains page content -->
  <section class="content">
    <section class="content-header">
      <h1>
        Thống kê
      </h1>
      <ol class="breadcrumb">
        <li>
          <a> <i class="fa fa-home"></i>Home</a>
        </li>
        <li class="active">Thống kê</li>
      </ol>
    </section>
    <div class="row center-block">
      <div class="col-md-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <div
              class="dataTables_wrapper form-inline dt-bootstrap"
              id="example1_wrapper"
            >
              <div class="row">
                <div class="col-sm-2">
                  <button
                    v-if="isLoading"
                    class="btn btn-labeled btn-twitter mr-1 mb-1"
                    disabled
                  >
                    <span class="btn-label"
                      ><i class="fa fa-cog fa-spin"></i
                    ></span>
                    Đang tải...
                  </button>
                  <!--                  <button-->
                  <!--                    v-if="!isLoading"-->
                  <!--                    class="btn btn-labeled btn-twitter mr-1 mb-1"-->
                  <!--                    @click="getList"-->
                  <!--                  >-->
                  <!--                    <span class="btn-label"><i class="far fa-sync"></i></span>-->
                  <!--                    Làm tươi-->
                  <!--                  </button>-->
                </div>
                <div class="col col-sm-4">
                  <label class="control-label">Bắt đầu</label>
                  <input
                    class="form-control"
                    v-model="form.start_date"
                    type="date"
                  />
                </div>
                <div class="col col-sm-4">
                  <label class="control-label">Kết thúc</label>
                  <input
                    class="form-control"
                    v-model="form.end_date"
                    type="date"
                  />
                </div>
                <div class="col col-sm-1">
                  <button
                    class="btn btn-primary"
                    @click="getFilter"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Lọc"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 table-responsive">
                  <table
                    aria-describedby="example1_info"
                    role="grid"
                    class="table table-bordered table-striped dataTable"
                  >
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Cán bộ</th>
                        <th>Ngày vào Đảng</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr v-for="(item, index) in list_summary" :key="index">
                        <td>{{ index+1 }}</td>
                        <td>{{ item[0].code_number_staff }}</td>
                        <td>{{ item[0].clan_date }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";

export default {
  name: "Index",
  data() {
    return {
      form: {
        start_date: "",
        end_date: ""
      },
      code_number_staff: "",
      clan_date: "",

      list_summary: [],
      isLoading: false
    };
  },
  created() {
    // this.getList();
  },
  methods: {
    // getList() {
    //   this.isLoading = false;
    //   this.list_summary = [
    //     {
    //       // id: "1",
    //       code_number_staff: this.code_number_staff,
    //       clan_date: this.clan_date
    //     }
    //   ];
    // },
    getFilter() {
      this.list_summary = [];
      this.isLoading = true;
      axios
        .post("api/statistical/searchOptions", {
          start_date: this.form.start_date,
          end_date: this.form.end_date
        })
        .then(response => {
          this.isLoading = false;
          let clan = response.data.data;

          for (let i = 0; i < clan.length; i++) {
            this.code_number_staff = clan[i].first_name;
            this.clan_date = clan[i].date_clan;

            //test
            this.list_summary.push([
              {
                code_number_staff: this.code_number_staff,
                clan_date: this.clan_date
              }
            ]);
          }
          console.log(this.list_summary);
          // this.getList();
        })
        .catch(e => {
          this.errors.push(e);
          this.isLoading = false;
        });
    }
  }
};
</script>
