<template>
  <footer class="main-footer">
    Bản quyền thuộc Châu Đại Dương <strong>{{ year }}</strong>
  </footer>
</template>

<script>
export default {
  name: "DashFooter",
  data: function() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>
