<template>
  <div>
    <ul class="sidebar-menu">
      <li class="header">Người dùng</li>
      <router-link tag="li" class="pageLink" to="/user">
        <a>
          <i class="fa fa-user"></i>
          <span class="page">Tài khoản</span>
        </a>
      </router-link>
      <li class="header">Quản lý nhân sự</li>
      <router-link tag="li" class="pageLink" to="/unit">
        <a>
          <i class="fa fa-sitemap"></i>
          <span class="page">Phòng ban</span>
        </a>
      </router-link>
      <router-link tag="li" class="pageLink" to="/team">
        <a>
          <i class="fa fa-building-o"></i>
          <span class="page">Đội, đồn, tổ</span>
        </a>
      </router-link>
      <router-link tag="li" class="pageLink" to="/staff">
        <a>
          <i class="fa fa-users"></i>
          <span class="page">Cán bộ</span>
        </a>
      </router-link>
      <li class="header">Điểm danh - Đánh giá</li>
      <router-link tag="li" class="pageLink" to="/attendance">
        <a>
          <i class="fa fa-check-square"></i>
          <span class="page">Điểm danh</span>
        </a>
      </router-link>
      <router-link tag="li" class="pageLink" to="/statistical">
        <a>
          <i class="fa fa-pie-chart"></i>
          <span class="page">Thống kê</span>
        </a>
      </router-link>

      <li class="header">Tin tức - Phản hồi</li>
      <router-link tag="li" class="pageLink" to="/news">
        <a>
          <i class="fa fa-newspaper-o"></i>
          <span class="page">Tin tức</span>
        </a>
      </router-link>
      <router-link tag="li" class="pageLink" to="/contact">
        <a>
          <i class="fa fa-question-circle"></i>
          <span class="page">Ý kiến phản hồi</span>
        </a>
      </router-link>
    </ul>
  </div>
</template>
<script>
export default {
  name: "SidebarMenu",
  data() {
    return {
      role: localStorage.RoleUser,
      isActive: true
    };
  }
};
</script>
<style>
/* override default */
.sidebar-menu > li > a {
  padding: 12px 15px 12px 15px;
}

.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
  animation-name: rotate;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.treeview-title {
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}
</style>
