<template>
  <li class="dropdown user user-menu">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
      <!-- The user image in the navbar-->
      <img
        src="../../../public/logo/home.png"
        class="user-image"
        alt="User Image"
      />
      <!-- hidden-xs hides the username on small devices so only the image appears. -->
      <span class="hidden-xs">Quản trị viên</span>
    </a>
    <!-- Account Info and Menu -->
    <ul class="dropdown-menu">
      <li
        class="user-header"
        style="height:auto;min-height:85px;padding-bottom:15px;"
      >
        <p>
          <span>Quản trị viên</span>
        </p>
      </li>
      <li class="user-footer">
        <button @click="logout" class="btn btn-default btn-flat btn-block">
          <i class="fa fa-sign-out"></i>
          <span>
            Đăng xuất
          </span>
        </button>
      </li>
    </ul>
  </li>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "UserMenu",
  props: ["user"],
  data() {
    return {
      list_users: [],
      isLoading: false
    };
  },
  mounted() {
    if (!localStorage.getItem("token")) {
      this.logout();
    }
    if (!this.setUserDetails.role) {
      this.$router.push("/index404");
    }
  },
  created() {
    this.checkUserState();
  },
  computed: {
    ...mapGetters({
      loggedIn: "auth/loggedIn",
      setUserDetails: "auth/setUserDetails"
    })
  },
  methods: {
    ...mapActions({
      logoutUser: "auth/logoutUser",
      checkUserState: "auth/setLoggedInState"
    }),
    logout() {
      this.logoutUser().then(() => {
        this.$router.push("/login");
      });
    }
  }
};
</script>
