<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <section class="content-header">
        <h1>
          Sửa Phòng ban
        </h1>
        <ol class="breadcrumb">
          <li>
            <a> <i class="fa fa-home"></i>Home</a>
          </li>
          <li class="active">Sửa Phòng ban</li>
        </ol>
      </section>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Mã phòng ban</label>
                  <input
                    class="form-control"
                    v-model="form.code_number_unit"
                    placeholder="Mã phòng ban..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Tên phòng ban</label>
                  <input
                    class="form-control"
                    v-model="form.name"
                    placeholder="Tên phòng ban..."
                    type="text"
                  />
                </div>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-twitter" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-twitter"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-twitter" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import swal from "sweetalert";
import UnitService from "../../services/unit";

export default {
  name: "edit",
  data() {
    return {
      form: {
        code_number_unit: "",
        name: ""
      }
    };
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapGetters("unit_add", {
      isSubmitting: "isSubmitting"
    })
  },
  methods: {
    ...mapActions("unit_add", {
      setBasicInfo: "setBasicInfo",
      setThumbnails: "setThumbnails",
      addImage: "addImage",
      doSubmit: "submit",
      reset: "reset"
    }),
    getShow() {
      this.isLoading = true;
      UnitService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      UnitService.update(this.$route.params.id, this.form)
        .then(success => {
          this.isSubmitting = false;
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/unit");
        })
        .catch(err => {
          this.isSubmitting = false;
          swal({
            title: "Cập nhật thất bại",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  },
  watch: {
    "form.code_number_unit": function() {
      this.setBasicInfo(this.form);
    },
    "form.name": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
