<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <section class="content-header">
        <h1>
          Thêm Tin tức
        </h1>
        <ol class="breadcrumb">
          <li>
            <a> <i class="fa fa-home"></i>Home</a>
          </li>
          <li class="active">Thêm Tin tức</li>
        </ol>
      </section>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Tiêu đề</label>
                  <input
                    class="form-control"
                    v-model="form.title"
                    placeholder="Tiêu đề..."
                    type="text"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Loại danh mục</label>
                  <select
                    v-model="form.category_id"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in CategoryOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Ảnh đại diện</label>
                  <input
                    type="file"
                    class="form-control"
                    @change="onFileChange"
                    placeholder="Choose a file..."
                  />
                </div>
                <div class="col col-sm-6">
                  <div id="preview">
                    <img v-if="url" :src="url" />
                  </div>
                </div>
              </div>

<!--              <div class="form-group">-->
<!--                <div class="col col-sm-12">-->
<!--                  <label class="control-label">Mô tả ngắn</label>-->
<!--                  <textarea-->
<!--                    class="form-control"-->
<!--                    v-model="form.summary"-->
<!--                    rows="5"-->
<!--                    placeholder="Tốc độ tăng trưởng mạnh mẽ của lĩnh vực..."-->
<!--                    type="text"-->
<!--                  ></textarea>-->
<!--                </div>-->
<!--              </div>-->
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Nội dung</label>
                  <ckeditor
                    :editor="editor"
                    v-model="form.content"
                    :config="editorConfig"
                  ></ckeditor>
                </div>
              </div>
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Trích nguồn</label>
                  <input
                    class="form-control"
                    v-model="form.source"
                    placeholder="http://young-generation..."
                    type="text"
                  />
                </div>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-twitter" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-twitter"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-twitter" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style>
.ck-editor .ck-editor__main .ck-content {
  min-height: 200px;
}

#preview {
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 50%;
  max-height: 50%;
}
</style>
<script>
import { mapActions, mapGetters } from "vuex";
import swal from "sweetalert";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import NewsService from "../../services/news";

export default {
  name: "add",
  data() {
    return {
      editor: ClassicEditor,
      editorConfig: {
        toolbar: {
          items: [
            "bold",
            "italic",
            "link",
            "undo",
            "redo",
            "imageUpload",
            "bulletedList",
            "numberedList",
            "blockQuote"
          ]
        }
      },
      url: null,
      image: "",
      form: {
        title: "",
        content: "<p>Nội dung trang tin của bạn...</p>",
        category_id: 0,
        thumbnails: "",
        source: ""
      },
      CategoryOptions: [
        { value: 0, text: "-- Hình thức --" },
        { value: 4, text: "Văn bản" },
        { value: 1, text: "Quyết định - nghị định" },
        { value: 2, text: "Chính sách quản lý" },
        { value: 3, text: "Thông báo" }
      ]
    };
  },
  computed: {
    ...mapGetters("news_add", {
      isSubmitting: "isSubmitting"
    })
  },
  methods: {
    ...mapActions("news_add", {
      setBasicInfo: "setBasicInfo",
      setThumbnails: "setThumbnails",
      doSubmit: "submit",
      reset: "reset"
    }),
    onFileChange(e) {
      let files = e.target.files;
      this.image = e.target.files[0];
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
      this.doUploadFile(files);
    },
    doUploadFile() {
      const config = {
        headers: { "content-type": "multipart/form-data" }
      };
      let formData = new FormData();
      formData.append("image", this.image);
      NewsService.upload(formData, config)
        .then(res => {
          this.form.thumbnails = res.data.data;
        })
        .catch(function() {
          console.log("load ảnh thất bại");
        });
    },
    submit() {
      this.doSubmit()
        .then(success => {
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/news");
        })
        .catch(err => {
          swal({
            title: "Đăng tin không thành công",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  },
  watch: {
    "form.title": function() {
      this.setBasicInfo(this.form);
    },
    "form.content": function() {
      this.setBasicInfo(this.form);
    },
    "form.category_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.thumbnails": function() {
      this.setBasicInfo(this.form);
    },
    "form.source": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
