<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <section class="content-header">
        <h1>
          Thêm Tài khoản
        </h1>
        <ol class="breadcrumb">
          <li>
            <a> <i class="fa fa-home"></i>Home</a>
          </li>
          <li class="active">Thêm Tài khoản</li>
        </ol>
      </section>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Cán bộ</label>
                  <select
                    v-model="form.code_number_staff"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in staffOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col col-sm-4">
                  <label class="control-label">Tài khoản</label>
                  <input
                    class="form-control"
                    v-model="form.username"
                    placeholder="Tài khoản..."
                    type="text"
                  />
                </div>
                <div class="col col-sm-4">
                  <label class="control-label">Mật khẩu</label>
                  <input
                    class="form-control"
                    v-model="form.password"
                    placeholder="Mật khẩu..."
                    type="password"
                  />
                </div>
                <div class="col col-sm-4">
                  <label class="control-label">Quyền hạn</label>
                  <select
                    v-model="form.role"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in roleOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-twitter" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-twitter"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-twitter" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import swal from "sweetalert";

export default {
  name: "add",
  data() {
    return {
      form: {
        username: "",
        password: "",
        code_number_staff: 0,
        role: "staff",
        status: ""
      },
      roleOptions: [
        { value: "admin", text: "Quản trị viên" },
        { value: "staff", text: "Cán bộ" }
      ]
    };
  },
  created() {
    this.loadStaffData();
  },
  computed: {
    ...mapGetters("user_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapState("staff_ac", {
      staffOptions: state => state.staffOptions
    })
  },
  methods: {
    ...mapActions("user_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    ...mapActions("staff_ac", {
      loadStaffData: "loadStaffData"
    }),
    submit() {
      this.doSubmit()
        .then(success => {
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/user");
        })
        .catch(err => {
          swal({
            title: "Đăng tin không thành công",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  },
  watch: {
    "form.username": function() {
      this.setBasicInfo(this.form);
    },
    "form.password": function() {
      this.setBasicInfo(this.form);
    },
    "form.code_number_staff": function() {
      this.setBasicInfo(this.form);
    },
    "form.role": function() {
      this.setBasicInfo(this.form);
    },
    "form.status": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
