<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <section class="content-header">
        <h1>
          Sửa Tài khoản
        </h1>
        <ol class="breadcrumb">
          <li>
            <a> <i class="fa fa-home"></i>Home</a>
          </li>
          <li class="active">Sửa Tài khoản</li>
        </ol>
      </section>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Cán bộ</label>
                  <select
                    v-model="form.code_number_staff"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in staffOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col col-sm-4">
                  <label class="control-label">Tài khoản</label>
                  <input
                    class="form-control"
                    v-model="form.username"
                    placeholder="Tài khoản..."
                    type="text"
                  />
                </div>
                <div class="col col-sm-4">
                  <label class="control-label">Mật khẩu</label>
                  <input
                    class="form-control"
                    v-model="form.password"
                    placeholder="Mật khẩu..."
                    type="password"
                  />
                </div>
                <div class="col col-sm-4">
                  <label class="control-label">Quyền hạn</label>
                  <select
                    v-model="form.role"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in roleOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-twitter" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-twitter"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-twitter" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import swal from "sweetalert";
import UserService from "../../services/user";

export default {
  name: "edit",
  data() {
    return {
      isSubmitting: false,
      form: {
        username: "",
        password: "",
        code_number_staff: 0,
        role: "",
        status: ""
      },
      roleOptions: [
        { value: "admin", text: "Quản trị viên" },
        { value: "staff", text: "Cán bộ" }
      ]
    };
  },
  created() {
    this.getShow();
    this.loadStaffData();
  },
  computed: {
    ...mapState("staff_ac", {
      staffOptions: state => state.staffOptions
    })
  },
  methods: {
    ...mapActions("staff_ac", {
      loadStaffData: "loadStaffData"
    }),
    getShow() {
      this.isLoading = true;
      UserService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      UserService.update(this.$route.params.id, this.form)
        .then(success => {
          this.isSubmitting = false;
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/user");
        })
        .catch(err => {
          this.isSubmitting = false;
          swal({
            title: "Cập nhật thất bại",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  }
};
</script>
