<template>
  <div></div>
</template>

<script>
export default {
  created() {
    this.$store.dispatch("auth/logout");
    this.$router.push({ name: "login" });
    console.info("Logged out");
  }
};
</script>
